.container {
  background-color: rgba(212, 212, 212, 0.6);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 85%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  border-radius: 32px;
}

#content,
#trash-content,
#archiv-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  background-color: rgba(228, 228, 228, 0.8);
  border: solid 1px black;
  height: 100px;
  margin: 8px;
  width: 250px;
  border-radius: 16px;
}

.button-position {
  width: 100%;
  height: 100%;
  padding: 0px 8px 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

a img {
  display: flex;
  justify-self: flex-start;
  height: 80px;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.button-style-notes {
  border-radius: 24px;
  border: solid 1px black;
}

.button-style-notes:hover {
  background-color: white;
  transition: 0.125s;
}

.button-style-notes img {
  height: 16px;
  margin: 4px;
  display: flex;
}

.alert-p-style {
  color: brown;
  padding: 8px;
}
