@font-face {
  font-family: "Peralta";
  src: url("./assets/fonts/Peralta-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Peralta", serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  padding: 8px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 24px;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.displayNone {
  display: none;
}
